{% extends 'Dominic/password_base.html' %}
{% block title %}Password Reset Complete{% endblock %}
{% block brand_subtitle %}All Set{% endblock %}
{% block card_title %}Password Updated{% endblock %}
{% block card_description %}
    Your password has been changed successfully.
{% endblock %}
{% block content %}
<div class="setup-alert setup-alert--success">
    <i class="fa-solid fa-circle-check setup-alert__icon"></i>
    <span>You can now log in with your new password.</span>
</div>
<a href="{% url 'login' %}" class="setup-form__submit" style="text-decoration:none;">
    <i class="fa-solid fa-right-to-bracket"></i>
    Go to Login
</a>
{% endblock %}
{% block footer_note %}{% endblock %}