{% load static %}

<link rel="stylesheet" href="{% static 'adminui/css/navbar-search.css' %}">

<div class="navbar__search navbar__search--desktop"
     id="navbarSearch"
     data-search-url="{% url 'admin_search' %}">
    <i data-lucide="search" class="navbar__search-icon"></i>
    <input type="search" placeholder="Search anything..." class="navbar__search-input"
           aria-label="Global search" id="navbarSearchInput" autocomplete="off">

    <div class="navbar__search-dropdown" id="navbarSearchDropdown"></div>
</div>

<script src="{% static 'adminui/js/navbar-search.js' %}"></script>