{% load static %}
<div class="pp__table-wrap" data-aos="fade-up" data-aos-delay="500">
    <table class="pp__table">
        <thead>
            <tr>
                <th>Patient Number</th>
                <th>Patient Name</th>
                <th>Role</th>
                <th>Blood</th>
                <th>Phone</th>
                <th>Last Visit</th>
                <th>Emergency Contact</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>

                <!-- Patient ID -->
                <td class="pp__cell-mono">
                    {{ patient.patient_number }}
                </td>

                <!-- Name -->
                <td>
                    {% if patient.student %}
                        {{ patient.student.user.get_full_name }}
                    {% elif patient.faculty %}
                        {{ patient.faculty.user.get_full_name }}
                    {% elif patient.staff %}
                        {{ patient.staff.user.get_full_name }}
                    {% elif patient.admin %}
                        {{ patient.admin.full_name }}
                    {% elif patient.visitor_name %}
                        {{ patient.visitor_name }}
                    {% else %}
                        —
                    {% endif %}
                </td>

                <!-- Type -->
                <!-- <td>
                    {{ patient.get_patient_type_display }}
                </td> -->
                <td>
                    {% if patient.patient_type == "STUDENT" %}
                    <span class="pp__badge pp__badge--student">
                        {{ patient.get_patient_type_display }}
                    </span>
                    {% elif patient.patient_type == "FACULTY" %}
                    <span class="pp__badge pp__badge--faculty">
                        {{ patient.get_patient_type_display }}
                    </span>
                    {% elif patient.patient_type == "STAFF" %}
                    <span class="pp__badge pp__badge--staff">
                        {{ patient.get_patient_type_display }}
                    </span>
                    {% else %}
                    <span class="pp__badge">
                        {{ patient.get_patient_type_display }}
                    </span>
                    {% endif %}
                </td>

                <!-- Blood -->
                <td>
                    {{ patient.blood_group|default:"—" }}
                </td>

                <!-- Phone -->
                <td>

                    {% if patient.user.student %}
                    {{ patient.student.phone|default:"—" }}
                    {% elif patient.faculty %}
                    {{ patient.faculty.phone|default:"—" }}
                    {% elif patient.staff %}
                    {{ patient.staff.office_phone|default:"—" }}
                    {% else %}
                    —
                    {% endif %}
                </td>

                <!-- Last visit  -->
                <td>
                    {{ patient.created_at|date:"d-M-Y" }}
                </td>

                <!-- EMergency contact -->
                <td>
                    {% if patient.emergency_contact_name %}
                    <strong>{{ patient.emergency_contact_name }}</strong><br>
                    <small>{{ patient.emergency_contact_phone }}</small>
                    {% else %}
                    --
                    {% endif %}
                </td>

                <!-- Action -->
                <td>
                    <!-- <button class="pp__view-btn" data-patient-id="{{ patient.id }}" type="button">
                        <i data-lucide="eye"></i>
                    </button> -->
                    <a href="{% url 'patient_profile_view' patient.id %}" class="pp__view-btn" >
                        <i data-lucide="eye"></i>
                    </a>
                </td>

            </tr>

            {% empty %}
            <tr>
                <td colspan="8" class="pp__empty">
                    No patients found.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="pp__pagination-bar">
    <span class="pp__pagination-summary">
        Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }} Patients
    </span>

    <div class="pp__pagination">

        <!-- Previous -->
        <button class="pp__page-btn"
            data-page="{% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}1{% endif %}" {% if not page_obj.has_previous %}disabled{% endif %}>
            <i data-lucide="chevron-left"></i>
        </button>

        <!-- Page Numbers -->
        {% for page in page_obj.paginator.page_range %}
        <button class="pp__page-btn {% if page == page_obj.number %}pp__page-btn--active{% endif %}"
            data-page="{{ page }}">
            {{ page }}
        </button>
        {% endfor %}

        <!-- Next -->
        <button class="pp__page-btn"
            data-page="{% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}{{ page_obj.paginator.num_pages }}{% endif %}"
            {% if not page_obj.has_next %}disabled{% endif %}>
            <i data-lucide="chevron-right"></i>
        </button>

    </div>


</div>