{% extends 'web_base.html' %}
{% load static %}

{% block content %}


<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> -->
<link rel="stylesheet" href="{% static 'css/about/about.css' %}">
<link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css"/>

<!-- about firsr section -->

<section class="about-hero-section">

    <div class="about-overlay"></div>

    <div class="container-fluid p-0">

        <div class="about-banner" data-aos="fade-down"
     data-aos-duration="3000">

            <div class="about-content"
                 data-aos="fade-right"
                 data-aos-duration="1200">
 
                <h1>About UW-Madison</h1>

                <div class="red-line"></div>

                <p>
                    A premier public, land-grant
                    research university founded in 1848
                </p>

            </div>

        </div>

    </div>

</section>

<section class="about-intro-section">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-10">

                <div class="intro-content"
                     data-aos="fade-up"
                     data-aos-duration="1000">

                    <p>

                        Since its founding in 1848, this campus has been a catalyst
                        for the extraordinary. As a public land-grant university
                        and major research institution, our students, staff,
                        and faculty engage in a world-class education while
                        solving real-world problems.

                        With public service — or as we call it,

                        <span>The Wisconsin Idea</span>

                        — as our guiding principle, Badgers are creating
                        a better future for everyone.

                    </p>

                </div>

                <div class="about-buttons"
                     data-aos="zoom-in"
                     data-aos-delay="300">

                    <a href="{% url 'leadership' %}" class="btn-reds">

                        <i class="fas fa-award"></i>

                        Meet our leadership

                    </a>

                    <a href="#" class="btn-outlines-red">

                       
                        <i class="fa-solid fa-medal"></i>

                        Read our strategic framework

                    </a>

                </div>

            </div>

        </div>

    </div>

</section>


<!-- 2nd section -->

<section class="ranking-section">

    <div class="ranking-overlay"></div>

    <div class="container">

        <div class="row text-center justify-content-center">

            <div class="col-lg-3 col-md-6 col-6"
                 data-aos="fade-up" data-aos-duration="3000">

                <div class="ranking-card">

                    <h2 class="counter" data-target="12">0</h2>

                    <div class="ranking-line"></div>

                    <p>
                        Best public university
                        <br>
                        (2026)
                    </p>

                </div>

            </div>

            <div class="col-lg-3 col-md-6 col-6"
                 data-aos="fade-up"
                 data-aos-delay="100">

                <div class="ranking-card">

                    <h2 class="counter" data-target="1">0</h2>

                    <div class="ranking-line"></div>

                    <p>
                        Best public university
                        <br>
                        (2026)
                    </p>

                </div>

            </div>

            <div class="col-lg-3 col-md-6 col-6"
                 data-aos="fade-up"
                 data-aos-delay="200">

                <div class="ranking-card">

                    <h2 class="counter" data-target="22">0</h2>

                    <div class="ranking-line"></div>

                    <p>
                        Best public university
                        <br>
                        (2026)
                    </p>

                </div>

            </div>

            <div class="col-lg-3 col-md-6 col-6"
                 data-aos="fade-up"
                 data-aos-delay="300">

                <div class="ranking-card">

                    <h2 class="counter" data-target="43">0</h2>

                    <div class="ranking-line"></div>

                    <p>
                        Best public university
                        <br>
                        (2026)
                    </p>

                </div>

            </div>

        </div>

        <div class="text-center mt-5"
             data-aos="zoom-in">

            <a href="{% url 'explorepage' %}" class="facts-btn">

                Explore more UW facts

                <i class="fas fa-arrow-right ms-2"></i>

            </a>

        </div>

    </div>

</section>
<!-- third section -->

<section class="wisconsin-idea-section">

    <div class="container-fluid">

        <div class="row align-items-center gy-5">

            <!-- LEFT -->
             

            <div class="col-lg-6">
                <div class="sidecontent_column">
                <img src="{% static 'images/logo-photoroom.png' %}"
                         alt="Community">
             </div>

                <div class="idea-content"
                     data-aos="fade-right" data-aos-duration="3000" >

                    <span class="idea-tag">
                        THE WISCONSIN IDEA
                    </span>

                    <h2>
                        Our commitment
                        <br>
                        to public service
                        <br>

                        <span id="changing-word">
                            regionally
                        </span>

                    </h2>

                    <div class="red-line"></div>

                    <p>
                        Through teaching, research, and outreach,
                        we partner with communities across Wisconsin
                        to improve lives and build a better future
                        for all.
                    </p>

                    <div class="idea-links">

                        <a href="#">
                            <span>
                                <i class="fas fa-users"></i>
                            </span>

                            UW in the community

                            <i class="fas fa-arrow-right"></i>
                        </a>

                        <a href="#">
                            <span>
                                <i class="fas fa-users"></i>
                            </span>

                            Wisconsin outreach

                            <i class="fas fa-arrow-right"></i>
                        </a>

                        <a href="#">
                            <span>
                                <i class="fas fa-users"></i>
                            </span>

                            Public service programs

                            <i class="fas fa-arrow-right"></i>
                        </a>

                    </div>

                </div>

            </div>

            <!-- RIGHT -->

            <div class="col-lg-6 p-0">

                <div class="idea-image"
                     data-aos="fade-left" data-aos-duration="3000">

                    <img src="{% static 'images/aboutvillage.jpg' %}"
                         alt="Community">

                </div>

            </div>

        </div>

    </div>

</section>

<!-- fourth section -->

<section class="milestone-section">

    <div class="container">

        <div class="row align-items-center gy-5">

            <!-- LEFT CONTENT -->

            <div class="col-lg-6">

                <div class="milestone-content"
                     data-aos="fade-right" data-aos-duration="3000">

                    <div class="section-tag">

                        <span class="tag-line"></span>

                        <span>
                            OUR PAST. OUR PURPOSE.
                        </span>

                    </div>

                    <h2>
                        Our
                        <span>milestones</span>
                    </h2>

                    <div class="logo-divider">

                        <span></span>

                        <img src="{% static 'images/logo-photoroom.png' %}" alt="">

                        <span></span>

                    </div>

                    <p>

                        At UW-Madison, we drive change by
                        pushing beyond boundaries. From
                        life-saving medical advances to
                        barrier-breaking social movements,
                        our campus continues to be home
                        to history in the making.

                    </p>

                    <a href="#" class="timeline-btn">

                        <div class="arrow-circle">
                            <i class="fas fa-arrow-right"></i>
                        </div>

                        <span>
                            Timeline: Explore UW over the years
                        </span>

                    </a>

                </div>

            </div>

            <!-- IMAGE -->

            <div class="col-lg-6">

                <div class="milestone-image-wrapper"
                     data-aos="fade-left" data-aos-duration="3000">
                     

                    <div class="red-side-bar"></div>

                    <img src="{% static 'images/oldphoto.png' %}"
                         alt="Milestone">

  

                    <div class="year-badge">
                        <svg viewBox="0 0 500 250" class="semicircle-text">
                        <!-- Define the semi-circle path shape -->
                        <path id="curve" d="M 100,220 A 150,150 0 0,1 450,250" fill="transparent" />
                        
                        <!-- Attach the text to the path ID -->
                        <text>
                            <textPath href="#curve" startOffset="48%" text-anchor="middle">
                            UNIVERSITY OF WISCONSIN
                            </textPath>
                        </text>
                        </svg>

                        <div class="yearcontent">

                        <img src="{% static 'images/logo-photoroom.png' %}" alt="">
<h3>1848</h3>

                        <p>WISCONSIN MADISON</p>
                        
                    </div>
                    
                        </div>

                </div>

            </div>

        </div>

    </div>

</section>


<!-- fifth section -->


    <section class="history-section" data-aos="fade-in" data-aos-duration="3000">

    <div class="history-overlay"></div>

    <div class="container historycontainer">

        <div class="history-content">

            <div class="history-title"
                 data-aos="fade-right" data-aos-duration="3000">

                <div class="left-border">

                    <h1>
                        Finding truth in
                        <br>
                        <span>
                        our <a href="">history</a> </span>
                    </h1>

                </div>

            </div>
<div class="history-line">
            <div class="history-divider"
                 data-aos="fade-up" data-aos-duration="3000">

                <span></span>

                <img src="{% static 'images/logo-photoroom.png' %}" alt="">

                <span></span>

            </div>

            <div class="history-text"
                 data-aos="fade-up"
                 data-aos-delay="200" data-aos-duration="3000">
                 

                <p>

                    UW-Madison is dedicated to creating a welcoming
                    and inclusive community for people from every
                    background. And we recognize that to create a
                    better future, we must confront difficult parts
                    of our past.

                </p>

            </div>

            <div class="history-buttons"
                 data-aos="zoom-in"
                 data-aos-duration="3000">

                <a href="#" class="btn-red">

                    Center for Campus History

                    <i class="fas fa-arrow-right"></i>

                </a>

                <a href="#" class="btn-outline">

                    Our Shared Future

                    <i class="fas fa-arrow-right"></i>

                </a>

            </div>
</div>
        </div>

    </div>

</section>

<!-- sixth section -->

<section class="statewide-section">

    <div class="container">

        <div class="row align-items-center gy-5">

            <!-- LEFT -->

            <div class="col-lg-6">

                <div class="statewide-content"
                     data-aos="fade-right" data-aos-duration="3000">

                    <div class="section-tag">

                        <span class="tag-line"></span>

                        <span>
                            TOGETHER, WE'RE STRONGER
                        </span>

                    </div>

                    <h2>
                        Our statewide
                        <br>
                        <span>connection</span>
                    </h2>

                    <div class="logo-divider">

                        <span></span>

                        <img src="{% static 'images/logo-photoroom.png' %}" alt="">

                        <span></span>

                    </div>

                    <p>

                       The University of Wisconsin–Madison is part of the Universities of Wisconsin. 
                       The system comprises 13 universities around the state. The Universities of Wisconsin serve more than 164,400
                        students with 840-plus programs, providing unlimited opportunities to explore, learn, and thrive.

                    </p>

                    <a href="#" class="statewide-btn">

                        <div class="arrow-circle">
                            <i class="fas fa-arrow-right"></i>
                        </div>

                        <span>
                            Learn about the Universities of Wisconsin
                        </span>

                    </a>

                </div>

            </div>

            <!-- RIGHT -->

            <div class="col-lg-6">

                <div class="map-wrapper"
                     data-aos="zoom-in" data-aos-duration="3000">

                    <img src="{% static 'images/mapabout.png' %}"
                         alt="Wisconsin Map">

                </div>

            </div>

        </div>

    </div>

</section>


<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script src="{% static 'script/about/about.js' %}"></script>

<script>
    AOS.init({
        duration: 1000,
        once: true
    });
</script>
{% endblock %}