{% load static %}

<!-- Fitness Hero Section -->
<section class=" container-fluid overflow-x-hidden">
  <div class=" row">
    <div data-aos-duration="2000"  data-aos="zoom-out" class="col-12 fit-hero p-lg-5">
      <!-- left side -->
      <div data-aos-duration="1000" data-aos="fade-right" class="fit-content ms-lg-4 ms-2 mt-lg-5 mt-2">
        <div class="fit-bar mb-4"></div>
        <div class="fit-header">
          <h1 class=" mb-4">We believe in physical and <br> <span class="mental">mental fitness</span> </h1>
          <button  class="fit-btn px-3 py-1 mb-5">Explore health and welness program <span class=" ms-2"><i class="fa-solid fa-arrow-right-long fa-lg" ></i></span> </button>
        </div>
      </div>

      <!-- right side -->
      <div data-aos-duration="1000" data-aos="fade-left" class="fit-right mt-2 me-2">
        <img  src="{% static 'images/fit_logo.png' %}" alt="Fit Logo">
      </div>
    </div>
  </div>

  <!-- 2nd part -->
  <div class="row">
    <!-- left side -->
    <div data-aos-duration="1000" data-aos="fade-up-right" class="col-lg-6 col-12 workout-left">
      <div class="fit-bar mb-lg-4 mb-3"></div>
      <h1 class=" mb-lg-4 mb-3">Sweat it out in our <br>modern  <span class="mental fw-bold">workout spaces</span></h1>
      <div class="fit_horiline mb-lg-4 mb-3"></div>
      <p class=" workout-para">There’s no shortage of modern amenities for the fitness-forward Badger: 30,000 square feet of brand-new workout space, an Olympic-size pool, indoor tennis courts and tracks, outdoor synthetic turf fields, a recreational ice rink, and much more.</p>
    </div>

    <!-- right side -->
    <div data-aos-duration="1000" data-aos="fade-up-left" class=" col-lg-6 col-12 workout-right mt-lg-5">
      <img class=" img-fluid" src="{% static 'images/workout.jpg' %}" alt="">
    </div>
  </div>

  <!-- 3rd part -->
  
  <!-- heading -->
  <div class=" d-flex align-items-center justify-content-center gap-4 mt-lg-4 mt-3">
    <div class=" flex-grow-1 border-top border-danger space-line"></div>
    <h2 class="space-heading ">Explore our spaces</h2>

    <div class=" flex-grow-1 border-top border-danger space-line"></div>
  </div>

  <!-- space cards -->
  
  <div class="row my-3">
    <div class=" col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card border-0 fit-card mb-3">
        
        <img class="  img-fluid fit-card-img" src="{% static 'images/space-1.jpg'%}" alt="">
        <div class=" card-body d-flex justify-content-between align-items-center gap-5 p-0">
          <div>
            <h2 class=" mb-0">01</h2>
            <div class="space-bar"></div>
          </div>
          <div>
            <p class=" sp-card-p text-end pe-2">Nicholas recreation
                center (The nick)</p>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-xl-3 col-lg-6 col-md-6 col-12 ">
      <div class="card border-0 fit-card mb-3">
        <img class=" img-fluid fit-card-img" src="{% static 'images/space-2.jpg'%}" alt="">
        <div class=" card-body d-flex justify-content-between align-items-center gap-5 p-0">
          <div>
            <h2 class=" mb-0">01</h2>
            <div class="space-bar"></div>
          </div>
          <div>
            <p class=" sp-card-p text-end pe-2">Nicholas recreation
                center (The nick)</p>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-xl-3 col-lg-6 col-md-6 col-12 ">
      <div class="card border-0 fit-card mb-3">
        <img class=" img-fluid fit-card-img" src="{% static 'images/space-3.jpg'%}" alt="">
        <div class=" card-body d-flex justify-content-between align-items-center gap-5 p-0">
          <div>
            <h2 class=" mb-0">01</h2>
            <div class="space-bar"></div>
          </div>
          <div>
            <p class=" sp-card-p text-end pe-2">Nicholas recreation
                center (The nick)</p>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card border-0 fit-card mb-3">
        <img class=" img-fluid fit-card-img" src="{% static 'images/space-4.jpg'%}" alt="">
        <div class=" card-body d-flex justify-content-between align-items-center gap-5 p-0">
          <div>
            <h2 class=" mb-0">01</h2>
            <div class="space-bar"></div>
          </div>
          <div>
            <p class=" sp-card-p text-end pe-2">Nicholas recreation
                center (The nick)</p>
          </div>
        </div>
      </div>
    </div>

    
  </div>

</section>