asgiref==3.11.1
charset-normalizer==3.4.9
click==8.4.2
colorama==0.4.6
cssbeautifier==2.0.3
Django==5.2.16
django-countries==9.0.0
djlint==1.40.4
EditorConfig==0.17.1
et_xmlfile==2.0.0
jsbeautifier==2.0.3
json5==0.15.0
openpyxl==3.1.5
pathspec==1.1.1
pillow==12.3.0
PyOTP==2.10.0
python-decouple==3.8
pytz==2026.2
PyYAML==6.0.3
qrcode==8.2
regex==2026.7.10
reportlab==5.0.0
sqlparse==0.5.5
tomli==2.4.1
typing_extensions==4.16.0
tzdata==2026.2
ua-parser==1.0.2
ua-parser-builtins==202606
user-agents==2.2.0
