<div class="container-fluid">

    <div class="row g-3">

        <div class="col-md-6">
            <label class="fw-semibold">Student</label>
            <div>{{ student.student.user.first_name }} {{ student.student.user.last_name }}</div>
        </div>

        <div class="col-md-6">
            <label class="fw-semibold">Email</label>
            <div>{{ student.student.user.email }}</div>
        </div>

        <div class="col-md-6">
            <label class="fw-semibold">PhD Program</label>
            <div>{{ student.phd_program.program_name }}</div>
        </div>

        <div class="col-md-6">
            <label class="fw-semibold">Advisor</label>
            <div>
                {% if student.advisor %}
                    {{ student.advisor.user.first_name }} {{ student.advisor.user.last_name }}
                {% else %}
                    Not Assigned
                {% endif %}
            </div>
        </div>

        <div class="col-md-6">
            <label class="fw-semibold">Admission Date</label>
            <div>{{ student.admission_date }}</div>
        </div>

        <div class="col-md-6">
            <label class="fw-semibold">Cohort Year</label>
            <div>{{ student.cohort_year }}</div>
        </div>

        <div class="col-md-6">
            <label class="fw-semibold">Current Status</label>
            <div>{{ student.get_current_status_display }}</div>
        </div>

        <div class="col-md-6">
            <label class="fw-semibold">Expected Graduation</label>
            <div>{{ student.expected_graduation_date|default:"-" }}</div>
        </div>

    </div>

</div>