{% extends 'Academics/Coursedynamic_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/academic_css/Guide.css' %}">
{% endblock %}

{% block content %}
<!-- ===================== HERO SECTION ===================== -->
<section class="guide-hero" data-aos="fade-down">
  <div class="guide-hero__topbar"></div>
  <div class="guide-hero__content">
    <div class="guide-hero__text" data-aos="fade-right" data-aos-duration="3000">
      <h1 class="guide-hero__line">All courses.</h1>
      <h1 class="guide-hero__line">All degrees.</h1>
      <h1 class="guide-hero__line guide-hero__line--accent">All majors.</h1>
    </div>
  </div>
</section>

<!-- ===================== INTRO STRIP ===================== -->
<section class="guide-intro" data-aos="fade-right" data-aos-duration="3000">
  <div class="guide-intro__rule"></div>
  <p class="guide-intro__text">
    This is your essential guide to our academic offerings and your
    <span class="text-accent">Wisconsin Experience.</span>
  </p>
</section>

<!-- ===================== STUDY CARDS ===================== -->
<section class="guide-cards">
  <div class="container-fluid">
    <div class="row g-4">

      <!-- Card 1 -->
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up">
        <div class="study-card">
          <div class="study-card__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="26" height="26">
              <path d="M12 3 1 9l11 6 9-4.9V17h2V9L12 3zM5 13.18v3.6L12 21l7-4.22v-3.6L12 17l-7-3.82z"/>
            </svg>
          </div>
          <h3 class="study-card__title">What Do You Want<br>to Study?</h3>
          <p class="study-card__desc">
            Explore our fields of study and find the academic path that ignites your academic passion.
          </p>
          <ul class="study-card__links">
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
          </ul>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="study-card">
          <div class="study-card__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="26" height="26">
              <path d="M12 3 1 9l11 6 9-4.9V17h2V9L12 3zM5 13.18v3.6L12 21l7-4.22v-3.6L12 17l-7-3.82z"/>
            </svg>
          </div>
          <h3 class="study-card__title">What Do You Want<br>to Study?</h3>
          <p class="study-card__desc">
            Explore our fields of study and find the academic path that ignites your academic passion.
          </p>
          <ul class="study-card__links">
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
          </ul>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="study-card">
          <div class="study-card__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="26" height="26">
              <path d="M12 3 1 9l11 6 9-4.9V17h2V9L12 3zM5 13.18v3.6L12 21l7-4.22v-3.6L12 17l-7-3.82z"/>
            </svg>
          </div>
          <h3 class="study-card__title">What Do You Want<br>to Study?</h3>
          <p class="study-card__desc">
            Explore our fields of study and find the academic path that ignites your academic passion.
          </p>
          <ul class="study-card__links">
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
          </ul>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="study-card">
          <div class="study-card__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="26" height="26">
              <path d="M12 3 1 9l11 6 9-4.9V17h2V9L12 3zM5 13.18v3.6L12 21l7-4.22v-3.6L12 17l-7-3.82z"/>
            </svg>
          </div>
          <h3 class="study-card__title">What Do You Want<br>to Study?</h3>
          <p class="study-card__desc">
            Explore our fields of study and find the academic path that ignites your academic passion.
          </p>
          <ul class="study-card__links">
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
          </ul>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="study-card">
          <div class="study-card__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="26" height="26">
              <path d="M12 3 1 9l11 6 9-4.9V17h2V9L12 3zM5 13.18v3.6L12 21l7-4.22v-3.6L12 17l-7-3.82z"/>
            </svg>
          </div>
          <h3 class="study-card__title">What Do You Want<br>to Study?</h3>
          <p class="study-card__desc">
            Explore our fields of study and find the academic path that ignites your academic passion.
          </p>
          <ul class="study-card__links">
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
          </ul>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="500">
        <div class="study-card">
          <div class="study-card__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="26" height="26">
              <path d="M12 3 1 9l11 6 9-4.9V17h2V9L12 3zM5 13.18v3.6L12 21l7-4.22v-3.6L12 17l-7-3.82z"/>
            </svg>
          </div>
          <h3 class="study-card__title">What Do You Want<br>to Study?</h3>
          <p class="study-card__desc">
            Explore our fields of study and find the academic path that ignites your academic passion.
          </p>
          <ul class="study-card__links">
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
            <li><a href="#">Undergraduate Study <span>&rsaquo;</span></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}